{% extends "base_generic.html"%}


{% block content %} 

<h1> Our Mission Is To Help The Poor </h1> 


<p> 
About Shopno Unnoyon Songstha <br>
	            Shopno Unnoyon a development organization - to help the people below poverty line. to realize their protection and brings about positive change to pioneer in recognizing and taking the many different. Realities poverty. Our approach. Therefore is comprehensive with services in areas of education for the rural poor and marginal farmers. Poor women involved in handcrafts and cottage to create employment socially backward young. As a part of its sincere effort initially we have employment Agriculture and food security.
	As well as  environmental sustainability. Poverty reduction through establishing rural information communication technology center right to information specially  we are giving the priority. Health awareness programmes-to stop the terrorism and  drug addiction. 

<br>We are Specialist is in taking an idea testing it. Perfecting it and then scaling up rapidly in an efficient cost effective manner and without compromising quality with experience and expertise of working in a developing nation.
Hope we will be able to attract the attention of different donors through our time befitting activities for availability of related support

Md. Liyakat Hossain Mojumder
Chief Executive Officer 
 Shopno Unnoyon Songstha <br>	
 
Vision-	A Society free from poverty and illiteracy  where everyone has the opportunity to think freely and do their work.

Mission-	Our mission is to create employment opportunities for the unemployment people in our society to develop the literacy rate the people below  poverty line to achieve positive change in our society through economic and social programmed which would enable men and women to become self reliant and to lead a quality life. 

</p>

{% endblock %}